# =========================
# TELEGRAM BOT
# =========================
TELEGRAM_TOKEN=SEU_TOKEN_AQUI

# =========================
# PUPPETEER (Docker)
# =========================
PUPPETEER_EXECUTABLE_PATH=/usr/bin/chromium

PUPPETEER_SKIP_CHROMIUM_DOWNLOAD=true
# =========================
# DATABASE
# =========================
DATABASE_PATH=/database/data.db